/* File upload input style*/

.input_container {
    border: 1px solid #e5e5e5;
  }

input[type=file] {
    padding: 0 auto;
    margin: 0 auto;
}
  
input[type=file]::file-selector-button {
    background-color: #a2a2a2;
    border: 0px;
    padding: 10px 15px;
    margin: 10px;
    transition: .1s;
    font-size: 25px;
    color:  #202020;
    margin-top: 20px;
    border-color: #202020;
    justify-self: center;
    border-radius: 15px;
    height: 50px;
    width: 110px;
    font-family: 'electrolizeregular';
    text-align: center;
  }
  
input[type=file]::file-selector-button:hover {
    background-color: #F2C112;
    border: 0px;
  }